// see https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
// see http://fxexperience.com/2011/12/styling-fx-buttons-with-css/

#calculator {
	-fx-background-color:  	#d3d3d3;
}

#calculator .grey {
	-fx-background-color: #696969;
}

#lbValue1 {
  -fx-background-color: #9ac0cd;
}

#lbValue2 {
  -fx-background-color: #9ac0cd;
}
#lbResult {
  -fx-background-color: #9ac0cd;
}


